<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Caesar/Vigenere</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>


<br/><br/>
<div class="container">
    <div class="row">
        <h1 class="text-center"> Caesar/Vigenere Encrypt Storage </h1>
    </div>
</div>
<div class="text-center" th:if="${#authorization.expression('isAuthenticated()')}">
    Welcome <b th:text="${#authentication.getPrincipal()?.username}"></b><br>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
